.slider-wrapper {
    height: 200px;
    position: relative;
    overflow-x: hidden;
}

.slider {
    top: 0;
    height: 200px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

.slide {
    display: inline-block;
    left: 0;
    top: 0;
}

.slide-inner {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.prev,
.next {
    z-index: 1;
    position: absolute;
    top: 94px;
    text-align: center;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.prev {
    left: 0;
    border-right: 12px solid black;
}

.next {
    right: 0;
    border-left: 12px solid black;
}

.buttons {
    z-index: 1;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    text-align: center;
}

.button {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 12px;
    background-color: black;
}

.button.active {
    background-color: white;
    border: 1px solid black;
}